body {
  background-color: #F0F8FF;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}  

/* header stylings */

header {
  background-color: #ADD8E6;
  padding: 20px;
  text-align: center;
  height: 50px;
}

h1, h2, h3 {
  margin: 0;
  color: #00008B;
  font-weight: bold;
  font-size: 36px;
  text-shadow: 2px 2px #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: glow 1s ease-in-out infinite alternate;
}

/* link stylings */

a:link {
  color: #00008B;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  margin: 5px;
  padding: 5px;
}

a:visited { 
  color: #f5f5;
}

a:hover {
  color: #FF4500;
  text-decoration: underline;
}

p {
  background-color: #f5f5f5; 
    border: 1px solid #ddd; 
    padding: 15px;
    margin: 20px 0; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 5px; 
    color: #333;
  
}

ul {
  list-style-type: none;
  margin-bottom: 20px;
}

li {
  background-color: #f5f5f5; 
  border: 1px solid #ddd; 
  padding: 15px;
  margin: 20px 0; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
  border-radius: 5px; 
  color: #333
}

html {
  height: 100%;
  width: 100%;
}

img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
}
